/* body {
    background-color: black !important;
}

section .qodef-parallax-bg-image-holder {
    background-position: top right !important;
}

section:nth-child(2) .qodef-parallax-bg-image-holder {
    background-position: top left !important;
}

.qodef-header-logo-link,
.qodef-mobile-header-logo-link {
    position: absolute !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: 100% !important;
}

.qodef-header-logo-link img,
.qodef-mobile-header-logo-link img {
    left: unset !important;
    position: absolute;
}

#qodef-page-mobile-header-inner {
    padding: 0 !important;
}

.qodef-mobile-header-opener {
    padding-right: 24px !important;
} */

/* .qodef-header-logo-image {
    width: 9% !important;
} */